In [1]:
import pandas as pd
import numpy as np
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
print("Setup Complete")

Setup Complete

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
# Read the file into a variable fifa_data
filepath = "/home/ryan/stark/MachineHack/Food_QUalityA_ParticipantsData/Data_Train.xlsx"
data = pd.read_excel(filepath)

In [3]:
testdata = pd.read_excel('/home/ryan/stark/MachineHack/Food_QUalityA_ParticipantsData/Data_Test.xlsx')

In [4]:
data.head()

,ID,Date,LicenseNo,FacilityID,FacilityName,Type,Street,City,State,LocationID,Reason,SectionViolations,RiskLevel,Geo_Loc,Inspection_Results
0,31103489027986,26-04-2010,4744,8123,7715,RESTAURANT,15522,id-11235901,id_1890134,81876.0,CANVASS,33.0,High,locid16406,4
1,10088999935915,21-06-2009,2973,12268,11664,GROCERY STORE,3057,id-11235901,id_1890134,81862.0,COMPLAINT,33.0,High,locid878,4
2,40148966010272,01-05-2013,18223,1112,969,RESTAURANT,14988,id-11235901,id_1890134,81883.0,CANVASS,NaN,High,locid3368,6
3,37157708563676,28-09-2015,20825,20007,19115,RESTAURANT,3661,id-11235901,id_1890134,81859.0,CANVASS RE-INSPECTION,31.0,Medium,locid11839,4
4,47478049564374,09-12-2015,2136,16867,10409,RESTAURANT,7876,id-11235901,id_1890134,81886.0,COMPLAINT,30.0,High,locid12264,4

In [5]:
# from datetime import datetime
# data['Date'] = pd.to_datetime(data['Date'] ,errors='coerce')

In [6]:
data['Geo_Loc'] = data['Geo_Loc'].str.replace(r'\D', '')

In [7]:
data['Geo_Loc'] = pd.to_numeric(data['Geo_Loc'], errors='coerce')

In [8]:
data['Geo_Loc'].dtype

dtype('int64')

In [9]:
data['Geo_Loc'].head()

0    16406
1      878
2     3368
3    11839
4    12264
Name: Geo_Loc, dtype: int64

In [10]:
total = data.isnull().sum().sort_values(ascending=False)
percent_1 = data.isnull().sum()/data.isnull().count()*100
percent_2 = (np.round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total, percent_2], axis=1, keys=['Total', '%']) #ptr
missing_data

                    Total     %
SectionViolations   39068  26.5
Type                 3485   2.4
LocationID             35   0.0
Inspection_Results      0   0.0
Geo_Loc                 0   0.0
RiskLevel               0   0.0
Reason                  0   0.0
State                   0   0.0
City                    0   0.0
Street                  0   0.0
FacilityName            0   0.0
FacilityID              0   0.0
LicenseNo               0   0.0
Date                    0   0.0
ID                      0   0.0

In [11]:
from sklearn.model_selection import train_test_split
y = data.Inspection_Results

# To keep things simple, we'll use only numerical predictors
melb_predictors = data.drop(['Inspection_Results'], axis=1)
X = melb_predictors.copy() 
# Divide data into training and validation subsets
X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size=0.999, test_size=0.001,random_state=0)

In [12]:
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

from sklearn.metrics import log_loss
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import classification_report
from sklearn.metrics import classification_report
    
# Function for comparing different approaches
def score_dataset(X_train, X_valid, y_train, y_valid):
    model = RandomForestClassifier(random_state=0)
    model.fit(X_train, y_train)
    preds = model.predict(X_valid)
    target_names = ['class 0', 'class 1', 'class 2','class 3', 'class 4', 'class 5', 'class 6']
    print(classification_report(y_valid, preds, target_names=target_names,labels= [0,1,2,3,4,5,6]))
    return model.score(X_valid,y_valid)

In [13]:
from sklearn.impute import SimpleImputer

# Imputation
my_imputer = SimpleImputer(strategy='most_frequent')
imX_train = pd.DataFrame(my_imputer.fit_transform(X_train))
imX_valid = pd.DataFrame(my_imputer.transform(X_valid))

# Imputation removed column names; put them back
imX_train.columns = X_train.columns
imX_valid.columns = X_valid.columns

In [14]:
imX_train.dtypes

ID                   object
Date                 object
LicenseNo            object
FacilityID           object
FacilityName         object
Type                 object
Street               object
City                 object
State                object
LocationID           object
Reason               object
SectionViolations    object
RiskLevel            object
Geo_Loc              object
dtype: object

In [15]:
categorical_cols = [cname for cname in X.columns if X[cname].nunique() < 500000000000000000 and 
                        X[cname].dtype == "object"]

In [16]:
categorical_cols

['Date', 'Type', 'City', 'State', 'Reason', 'RiskLevel']

In [17]:
numerical_cols = [cname for cname in X.columns if X[cname].dtype in ['int64', 'float64']]

In [18]:
numerical_cols

['ID',
 'LicenseNo',
 'FacilityID',
 'FacilityName',
 'Street',
 'LocationID',
 'SectionViolations',
 'Geo_Loc']

In [19]:
imX_train[numerical_cols] = imX_train[numerical_cols].apply(pd.to_numeric, errors='coerce')
imX_valid[numerical_cols] = imX_valid[numerical_cols].apply(pd.to_numeric, errors='coerce')

In [20]:
imX_train.dtypes

ID                     int64
Date                  object
LicenseNo              int64
FacilityID             int64
FacilityName           int64
Type                  object
Street                 int64
City                  object
State                 object
LocationID           float64
Reason                object
SectionViolations    float64
RiskLevel             object
Geo_Loc                int64
dtype: object

In [21]:
from datetime import datetime
imX_train['Date'] = pd.to_datetime(imX_train['Date'] ,errors='coerce')
imX_valid['Date'] = pd.to_datetime(imX_valid['Date'] ,errors='coerce')

In [22]:
imX_train.dtypes

ID                            int64
Date                 datetime64[ns]
LicenseNo                     int64
FacilityID                    int64
FacilityName                  int64
Type                         object
Street                        int64
City                         object
State                        object
LocationID                  float64
Reason                       object
SectionViolations           float64
RiskLevel                    object
Geo_Loc                       int64
dtype: object

In [23]:
s = (imX_train.dtypes == 'object')
object_cols = list(s[s].index)

print("Categorical variables:")
print(object_cols)

Categorical variables:
['Type', 'City', 'State', 'Reason', 'RiskLevel']

In [24]:
from sklearn.preprocessing import LabelEncoder

# Make copy to avoid changing original data 
label_X_train = imX_train.copy()
label_X_valid = imX_valid.copy()

# Apply label encoder to each column with categorical data
label_encoder = LabelEncoder()
for col in object_cols:
    label_X_train[col] = label_encoder.fit_transform(imX_train[col])
    label_X_valid[col] = label_encoder.transform(imX_valid[col])

In [25]:
# (data
#  .groupby(['Date', 'Inspection_Results'])
#  .size()
#  .unstack()
#  .plot.bar()
# )

In [26]:
label_X_train = label_X_train.assign(hour=label_X_train.Date.dt.hour,
               day=label_X_train.Date.dt.day,
               month=label_X_train.Date.dt.month,
               year=label_X_train.Date.dt.year)

In [27]:
label_X_valid = label_X_valid.assign(hour=label_X_valid.Date.dt.hour,
               day=label_X_valid.Date.dt.day,
               month=label_X_valid.Date.dt.month,
               year=label_X_valid.Date.dt.year)

In [28]:
label_X_train = label_X_train.drop(['Date','ID'] , axis=1)

In [29]:
label_X_valid = label_X_valid.drop(['Date','ID' ], axis=1)

In [30]:
label_X_train.isnull().sum()

LicenseNo             0
FacilityID            0
FacilityName          0
Type                  0
Street                0
City                  0
State                 0
LocationID            0
Reason                0
SectionViolations     0
RiskLevel             0
Geo_Loc               0
hour                 53
day                  53
month                53
year                 53
dtype: int64

In [31]:
label_X_train.fillna(label_X_train.mean(), inplace=True)
label_X_valid.fillna(label_X_valid.mean(), inplace=True)

In [32]:
score_dataset(label_X_train, label_X_valid, y_train, y_valid)

              precision    recall  f1-score   support

     class 0       0.00      0.00      0.00         0
     class 1       0.90      0.78      0.84        23
     class 2       0.00      0.00      0.00         0
     class 3       1.00      0.25      0.40         4
     class 4       0.91      0.97      0.94        86
     class 5       0.88      0.91      0.89        23
     class 6       0.83      0.83      0.83        12

   micro avg       0.90      0.90      0.90       148
   macro avg       0.65      0.53      0.56       148
weighted avg       0.90      0.90      0.89       148

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

0.8986486486486487

# Feature Engineering

In [33]:
lxt = label_X_train.copy()
lxv = label_X_valid.copy()

In [34]:
lxt

,LicenseNo,FacilityID,FacilityName,Type,Street,City,State,LocationID,Reason,SectionViolations,RiskLevel,Geo_Loc,hour,day,month,year
0,26121,7628,7252,326,8568,0,0,81846.0,6,32.0,0,7682,0.0,4.0,7.0,2015.0
1,36379,9294,8818,326,16553,0,0,81865.0,0,33.0,0,1912,0.0,19.0,9.0,2016.0
2,20219,4642,4429,351,7225,0,0,81897.0,0,21.0,0,1352,0.0,22.0,1.0,2017.0
3,0,10843,10274,64,2070,0,0,81853.0,2,3.0,0,5993,0.0,4.0,7.0,2015.0
4,3190,22923,21868,326,13077,0,0,81875.0,1,32.0,0,15316,0.0,21.0,4.0,2015.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147290,10984,12219,11623,326,3887,0,0,81867.0,0,32.0,0,9498,0.0,27.0,9.0,2012.0
147291,23404,9401,8915,326,1173,0,0,81911.0,0,3.0,0,16551,0.0,2.0,7.0,2017.0
147292,17061,7663,7284,326,7518,0,0,81870.0,3,32.0,0,14718,0.0,3.0,5.0,2012.0
147293,4757,6345,6079,326,13253,0,0,81886.0,1,32.0,0,12351,0.0,18.0,2.0,2009.0
147294,34597,18877,18047,326,17738,0,0,81859.0,13,3.0,0,11904,0.0,23.0,3.0,2009.0

In [35]:
interactions = (lxt['Reason'].map(str)) + "_" + (lxt['RiskLevel'].map(str))
len(interactions.unique())

54

In [36]:
label_enc = LabelEncoder()
traindata_interaction = lxt.assign(ReasonRiskLevel=label_enc.fit_transform(interactions))
traindata_interaction.head()

,LicenseNo,FacilityID,FacilityName,Type,Street,City,State,LocationID,Reason,SectionViolations,RiskLevel,Geo_Loc,hour,day,month,year,ReasonRiskLevel
0,26121,7628,7252,326,8568,0,0,81846.0,6,32.0,0,7682,0.0,4.0,7.0,2015.0,41
1,36379,9294,8818,326,16553,0,0,81865.0,0,33.0,0,1912,0.0,19.0,9.0,2016.0,0
2,20219,4642,4429,351,7225,0,0,81897.0,0,21.0,0,1352,0.0,22.0,1.0,2017.0,0
3,0,10843,10274,64,2070,0,0,81853.0,2,3.0,0,5993,0.0,4.0,7.0,2015.0,28
4,3190,22923,21868,326,13077,0,0,81875.0,1,32.0,0,15316,0.0,21.0,4.0,2015.0,25

In [37]:
testdata_interaction = lxv.assign(ReasonRiskLevel=interactions)

In [38]:
testdata_interaction['ReasonRiskLevel'] = label_enc.transform(testdata_interaction['ReasonRiskLevel'])

In [39]:
# traindata_interaction['ReasonRiskLevel']

In [40]:
testdata_interaction.head()

,LicenseNo,FacilityID,FacilityName,Type,Street,City,State,LocationID,Reason,SectionViolations,RiskLevel,Geo_Loc,hour,day,month,year,ReasonRiskLevel
0,28225,4702,4480,326,13072,0,0,81875.0,0,2.0,0,15302,0,7,9,2018,41
1,743,25793,24635,53,2087,0,0,81882.0,0,32.0,2,3211,0,17,11,2014,0
2,24297,13257,12588,326,2382,0,0,81855.0,1,32.0,0,9774,0,19,12,2015,0
3,18030,7609,7234,351,12441,0,0,81883.0,0,32.0,0,3875,0,21,10,2010,28
4,17544,23678,22588,326,479,0,0,81862.0,0,33.0,0,511,0,31,1,2012,25

In [41]:
##feature2

In [42]:
interactions2 = (traindata_interaction['Reason'].map(str)) + "_" + (traindata_interaction['SectionViolations'].map(str))
len(interactions2.unique())

610

In [43]:
label_enc2 = LabelEncoder()
traindata_interaction = traindata_interaction.assign(ReasonSectionViolations=label_enc2.fit_transform(interactions2))
traindata_interaction.head()

,LicenseNo,FacilityID,FacilityName,Type,Street,City,State,LocationID,Reason,SectionViolations,RiskLevel,Geo_Loc,hour,day,month,year,ReasonRiskLevel,ReasonSectionViolations
0,26121,7628,7252,326,8568,0,0,81846.0,6,32.0,0,7682,0.0,4.0,7.0,2015.0,41,496
1,36379,9294,8818,326,16553,0,0,81865.0,0,33.0,0,1912,0.0,19.0,9.0,2016.0,0,26
2,20219,4642,4429,351,7225,0,0,81897.0,0,21.0,0,1352,0.0,22.0,1.0,2017.0,0,13
3,0,10843,10274,64,2070,0,0,81853.0,2,3.0,0,5993,0.0,4.0,7.0,2015.0,28,333
4,3190,22923,21868,326,13077,0,0,81875.0,1,32.0,0,15316,0.0,21.0,4.0,2015.0,25,275

In [44]:
testdata_interaction = testdata_interaction.assign(ReasonSectionViolations=interactions2)

In [45]:
testdata_interaction['ReasonSectionViolations'] = label_enc2.transform(testdata_interaction['ReasonSectionViolations'])

In [46]:
####feature 3

In [47]:
interactions3 = (traindata_interaction['SectionViolations'].map(str)) + "_" + (traindata_interaction['RiskLevel'].map(str))

In [48]:
label_enc3 = LabelEncoder()
traindata_interaction = traindata_interaction.assign(SectionViolationsRiskLevel=label_enc3.fit_transform(interactions3))

In [49]:
testdata_interaction = testdata_interaction.assign(SectionViolationsRiskLevel=interactions3)
testdata_interaction['SectionViolationsRiskLevel'] = label_enc3.transform(testdata_interaction['SectionViolationsRiskLevel'])

In [50]:
testdata_interaction.head()

,LicenseNo,FacilityID,FacilityName,Type,Street,City,State,LocationID,Reason,SectionViolations,RiskLevel,Geo_Loc,hour,day,month,year,ReasonRiskLevel,ReasonSectionViolations,SectionViolationsRiskLevel
0,28225,4702,4480,326,13072,0,0,81875.0,0,2.0,0,15302,0,7,9,2018,41,496,72
1,743,25793,24635,53,2087,0,0,81882.0,0,32.0,2,3211,0,17,11,2014,0,26,76
2,24297,13257,12588,326,2382,0,0,81855.0,1,32.0,0,9774,0,19,12,2015,0,13,36
3,18030,7609,7234,351,12441,0,0,81883.0,0,32.0,0,3875,0,21,10,2010,28,333,63
4,17544,23678,22588,326,479,0,0,81862.0,0,33.0,0,511,0,31,1,2012,25,275,72

In [51]:
score_dataset(traindata_interaction, testdata_interaction, y_train, y_valid)

              precision    recall  f1-score   support

     class 0       0.00      0.00      0.00         0
     class 1       0.30      0.35      0.32        23
     class 2       0.00      0.00      0.00         0
     class 3       0.00      0.00      0.00         4
     class 4       0.79      0.84      0.81        86
     class 5       0.54      0.57      0.55        23
     class 6       0.50      0.25      0.33        12

   micro avg       0.65      0.65      0.65       148
   macro avg       0.30      0.29      0.29       148
weighted avg       0.63      0.65      0.64       148

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

0.6486486486486487

In [ ]:
from sklearn.linear_model import LogisticRegression

from sklearn.feature_selection import SelectFromModel


# Set the regularization parameter C=1
logistic = LogisticRegression(C=1, penalty="l1", random_state=7 ,solver='liblinear').fit(traindata_interaction, y_train)
model = SelectFromModel(logistic, prefit=True)

X_new = model.transform(traindata_interaction)
X_new

In [ ]:
selected_features = pd.DataFrame(model.inverse_transform(X_new), 
                                 index=traindata_interaction.index,
                                 columns=traindata_interaction.columns)

# Dropped columns have values of all 0s, keep other columns 
selected_columns = selected_features.columns[selected_features.var() != 0]

In [ ]:
selected_columns