In [23]:
import pandas as pd
import numpy as np

In [24]:
zf = pd.read_excel('//home/ryan/stark/machinehack/Food_QUalityA_ParticipantsData/Food_QUalityA_ParticipantsData/Data_Train.xlsx')

In [25]:
test = pd.read_excel('/home/ryan/stark/machinehack/Food_QUalityA_ParticipantsData/Food_QUalityA_ParticipantsData/Data_Test.xlsx')

In [36]:
print(zf['SectionViolations'].unique()==63)

[False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
  True False]

In [35]:
print(test['SectionViolations'].unique() ==63)

[False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False]

In [4]:
cols_to_drop = [
    'LicenseNo',
    'Date',
    'FacilityID',
    'FacilityName',
    'ID'
    ]

zf = zf.drop(cols_to_drop, axis=1)
test = test.drop(cols_to_drop, axis=1)
zf.head()

,Type,Street,City,State,LocationID,Reason,SectionViolations,RiskLevel,Geo_Loc,Inspection_Results
0,RESTAURANT,15522,id-11235901,id_1890134,81876.0,CANVASS,33.0,High,locid16406,4
1,GROCERY STORE,3057,id-11235901,id_1890134,81862.0,COMPLAINT,33.0,High,locid878,4
2,RESTAURANT,14988,id-11235901,id_1890134,81883.0,CANVASS,NaN,High,locid3368,6
3,RESTAURANT,3661,id-11235901,id_1890134,81859.0,CANVASS RE-INSPECTION,31.0,Medium,locid11839,4
4,RESTAURANT,7876,id-11235901,id_1890134,81886.0,COMPLAINT,30.0,High,locid12264,4

In [5]:
total = zf.isnull().sum().sort_values(ascending=False)
percent_1 = zf.isnull().sum()/zf.isnull().count()*100
percent_2 = (np.round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total, percent_2], axis=1, keys=['Total', '%']) #ptr
missing_data

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  after removing the cwd from sys.path.

                    Total     %
City                    0   0.0
Geo_Loc                 0   0.0
Inspection_Results      0   0.0
LocationID             35   0.0
Reason                  0   0.0
RiskLevel               0   0.0
SectionViolations   39068  26.5
State                   0   0.0
Street                  0   0.0
Type                 3485   2.4

In [6]:
total = test.isnull().sum().sort_values(ascending=False)
percent_1 = test.isnull().sum()/test.isnull().count()*100
percent_2 = (np.round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total, percent_2], axis=1, keys=['Total', '%']) #ptr
missing_data

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  after removing the cwd from sys.path.

                   Total     %
City                   0   0.0
Geo_Loc                0   0.0
LocationID            15   0.0
Reason                 0   0.0
RiskLevel              0   0.0
SectionViolations  12976  26.4
State                  0   0.0
Street                 0   0.0
Type                1215   2.5

In [7]:
testf=test.copy()

In [8]:
df = zf.copy()

In [9]:
from sklearn.impute import SimpleImputer
imp = SimpleImputer(strategy='most_frequent')
#df = imp.fit_transform(df)
testf = imp.fit_transform(testf)

In [51]:
dataframe = pd.DataFrame.from_records(df)

In [10]:
dataframetest = pd.DataFrame.from_records(testf)

In [11]:
dataframetest.head()

,0,1,2,3,4,5,6,7,8
0,GROCERY STORE,17352,id-11235901,id_1890134,81864.0,CANVASS,19.0,Low,locid1145
1,SCHOOL,15536,id-11235901,id_1890134,81871.0,CANVASS,32.0,High,locid16450
2,RESTAURANT,8849,id-11235901,id_1890134,81902.0,CANVASS,32.0,High,locid12916
3,SCHOOL,11663,id-11235901,id_1890134,81869.0,CANVASS,32.0,High,locid7292
4,RESTAURANT,16286,id-11235901,id_1890134,81874.0,CANVASS RE-INSPECTION,32.0,High,locid2048

In [12]:
dataframetest.rename(columns = {0:'Type',1:'Street',2:'City',3:'State',4:'LocationID',5:'Reason',6:'SectionViolations',7:'RiskLevel',8:'Geo_Loc',9:'Inspection_Results'},inplace=True)

In [13]:
dataframetest.head()

,Type,Street,City,State,LocationID,Reason,SectionViolations,RiskLevel,Geo_Loc
0,GROCERY STORE,17352,id-11235901,id_1890134,81864.0,CANVASS,19.0,Low,locid1145
1,SCHOOL,15536,id-11235901,id_1890134,81871.0,CANVASS,32.0,High,locid16450
2,RESTAURANT,8849,id-11235901,id_1890134,81902.0,CANVASS,32.0,High,locid12916
3,SCHOOL,11663,id-11235901,id_1890134,81869.0,CANVASS,32.0,High,locid7292
4,RESTAURANT,16286,id-11235901,id_1890134,81874.0,CANVASS RE-INSPECTION,32.0,High,locid2048

In [14]:
dataframetest.to_excel(excel_writer = "/home/ryan/stark/machinehack/Food_QUalityA_ParticipantsData/Food_QUalityA_ParticipantsData/Data_TestCLEANED.xlsx")

In [15]:
df = pd.read_excel('/home/ryan/stark/machinehack/Food_QUalityA_ParticipantsData/Food_QUalityA_ParticipantsData/Data_TestCLEANED.xlsx')

In [16]:
df.head()

,Type,Street,City,State,LocationID,Reason,SectionViolations,RiskLevel,Geo_Loc
0,GROCERY STORE,17352,id-11235901,id_1890134,81864,CANVASS,19,Low,locid1145
1,SCHOOL,15536,id-11235901,id_1890134,81871,CANVASS,32,High,locid16450
2,RESTAURANT,8849,id-11235901,id_1890134,81902,CANVASS,32,High,locid12916
3,SCHOOL,11663,id-11235901,id_1890134,81869,CANVASS,32,High,locid7292
4,RESTAURANT,16286,id-11235901,id_1890134,81874,CANVASS RE-INSPECTION,32,High,locid2048

In [17]:
df['Type'].unique()

array([u'GROCERY STORE', u'SCHOOL', u'RESTAURANT',
       u'DAYCARE (2 - 6 YEARS)', u'DAYCARE ABOVE AND UNDER 2 YEARS',
       u'BAKERY', u'LONG TERM CARE', u"CHILDREN'S SERVICES FACILITY",
       u'GROCERY/RESTAURANT', u'LIVE POULTRY', u'FITNESS CENTER',
       u'CATERING', u'DAYCARE COMBO 1586', u'TAVERN', u'COMMISSARY',
       u'CONVENIENCE STORE', u'RESTAURANT/HOSPITAL', u'SPECIAL EVENT',
       u'MOBILE FOOD PREPARER', u'LIQUOR', u'DAYCARE 6 WKS-5YRS',
       u'COOKING SCHOOL', u'KIOSK', u'GROCERY STORE/ RESTAURANT',
       u'WHOLESALE', u'DAYCARE (2 YEARS)', u'CONVENIENCE',
       u'SLAUGHTER HOUSE/ GROCERY', u'MOBILE FOOD DISPENSER',
       u'SHARED KITCHEN', u'CAFETERIA', u'BANQUET', u'DAYCARE COMBO',
       u'HOSPITAL', u'HEALTH/ JUICE BAR', u'GAS STATION',
       u'MOBILE FROZEN DESSERTS DISPENSER-NON- MOTORIZED',
       u'DISTRIBUTION CENTER', u'SHARED KITCHEN USER (SHORT TERM)',
       u'SMOKEHOUSE', u'HIGH SCHOOL KITCHEN', u'JUICE BAR/GROCERY',
       u'CHARTER SCHOOL', u'GROCERY & RESTAURANT', u'ROOFTOPS',
       u'GROCERY/SERVICE GAS STATION',
       u"1023 CHILDERN'S SERVICE S FACILITY", u'RIVERWALK',
       u'BANQUET DINING', u'GOLDEN DINER', u'CHILDRENS SERVICES FACILITY',
       u'SHELTER', u'TAVERN/1006', u'COFFEE KIOSK', u'CULINARY SCHOOL',
       u'DAYCARE (UNDER 2 YEARS)', u'GROCERY', u'ROOF TOP',
       u'MOBILE DESSERTS VENDOR', u'COMMISARY RESTAURANT',
       u'POP-UP ESTABLISHMENT HOST-TIER II', u'BANQUET ROOMS',
       u'PRIVATE SCHOOL', u'LIQUOR STORE', u'THEATER & RESTAURANT',
       u'NURSING HOME', u'GROCERY/CAFE', u'CHURCH KITCHEN',
       u'SHARED KITCHEN USER (LONG TERM)', u'GROCERY& RESTAURANT',
       u'NIGHT CLUB', u'COFFEE SHOP', u'WRIGLEY ROOF TOP', u'BANQUETS',
       u'BANQUET HALL', u'GAS STATION/RESTAURANT',
       u'DAYCARE 2-6, UNDER 6', u'HERBAL MEDICINE', u'ROOM SERVICE',
       u'ILLEGAL VENDOR', u'CHARTER SCHOOL CAFETERIA', u'DAY CARE 2-14',
       u'CULINARY ARTS SCHOOL', u'PASTRY SCHOOL',
       u'MOBILE PREPARED FOOD VENDOR', u'HEALTH CARE STORE',
       u'CATERING/CAFE', u'GIFT SHOP', u'BUTCHER SHOP', u'DINING HALL',
       u'VENDING MACHINE', u'GROCERY STORE/TAQUERIA', u'STORE',
       u'GROCERY STORE/GAS STATION', u'REST/GYM',
       u'A-NOT-FOR-PROFIT CHEF TRAINING PROGRAM', u'REHAB CENTER',
       u'PREPACKAGE MEAL DISTRIBUTOR (1006 RETAIL)', u'CHURCH',
       u'DAY CARE 1023', u'GROCERY STORE/COOKING SCHOOL', u'BAR',
       u'DONUT SHOP', u'DAYCARE', u'HERBAL LIFE SHOP', u'LIVE BUTCHER',
       u"1023 CHILDERN'S SERVICE FACILITY", u'SENIOR DAY CARE',
       u'LAUNDROMAT', u'SCHOOL CAFETERIA', u'ROOF TOPS',
       u'RESTAURANT/GAS STATION', u'DRUG/FOOD STORE',
       u'RESTAURANT/GROCERY STORE', u'DAYCARE 1586', u'PALETERIA',
       u'THEATRE', u'RESTAURANT/BAR/THEATER', u'ROOFTOP', u'EVENT SPACE',
       u'HOSTEL', u"CHILDERN'S SERVICE FACILITY",
       u'RESTAURANT.BANQUET HALLS', u'HOT DOG STATION', u'GROCERY/LIQUOR',
       u'1023', u'COFFEE', u'BREWERY', u'AIRPORT LOUNGE', u'HOTEL',
       u'DELI', u'GROCERY/BUTCHER', u'CANDY STORE',
       u"1023-CHILDREN'S SERVICES FACILITY", u'PANTRY', u'ADULT DAYCARE',
       u'GAS STATION/GROCERY', u'NAVY PIER KIOSK',
       u'POP-UP FOOD ESTABLISHMENT USER-TIER II',
       u'MOBILE FROZEN DESSERTS VENDOR', u'FISH MARKET',
       u'UNIVERSITY CAFETERIA', u'BANQUET FACILITY', u'COFFEE CART',
       u'TAVERN/BAR', u'SHUFFLEBOARD CLUB WITH BAR', u'DAYCARE NIGHT',
       u'PACKAGED LIQUOR', u'SUPPORTIVE LIVING',
       u'DAYCARE 2 YRS TO 12 YRS', u'WINE STORE', u'NP-KIOSK',
       u'MUSIC VENUE', u'HERBALIFE/ZUMBA', u'RESTUARANT AND BAR',
       u'COLLEGE', u'GIFT/CARD SHOP WITH CANDY', u'STADIUM',
       u'1005 NURSING HOME', u'TENT RSTAURANT', u'MOVIE THEATRE',
       u'HERBAL REMEDY', u'BANQUET HALL/CATERING',
       u'CUSTOM POULTRY SLAUGHTER', u'JUICE BAR', u'OTHER',
       u'GROCERY(SUSHI PREP)', u'CHARITY AID KITCHEN',
       u'CHURCH/SPECIAL EVENTS', u'CONVENIENT STORE',
       u'CHURCH (SPECIAL EVENTS)', u'RETAIL STORE', u'POPCORN SHOP',
       u'RESTAURANT/GROCERY', u'EMPLOYEE KITCHEN', u'CATERED EVENTS',
       u'FROZEN DESSERT PUSHCARTS', u'RESTAURANT/BAR',
       u'GROCERY/LIQUOR STORE',
       u'MOBILE FROZEN DESSERTS DISPENSER-NON-MOTOR', u'THEATER',
       u'ASSISTED LIVING SENIOR CARE', u'LONG TERM CARE FACILITY',
       u'GROCERY STORE/DELI', u"1023 CHILDREN'S SERVICES FACILITY",
       u'AFTER SCHOOL PROGRAM', u'PROTEIN SHAKE BAR',
       u'COMMISSARY FOR SOFT SERVE ICE CREAM TRUCKS', u'NEWSSTAND',
       u'GROCERY/DOLLAR STORE', u'CONVENIENCE/DRUG STORE', u'GOLF COURSE',
       u'PUBLIC SHCOOL', u'POPCORN CORN', u'CANDY/GELATO',
       u'GAS STATION/MINI MART', u'SOCIAL CLUB',
       u'BEVERAGE/SILVERWARE WAREHOUSE', u'WINE TASTING BAR',
       u'SHAKES/TEAS', u'BEFORE AND AFTER SCHOOL PROGRAM',
       u'ICE CREAM SHOP', u'HERBALIFE', u'RESTAURANT(PROTEIN SHAKE BAR)',
       u'HERBAL LIFE', u'JUICE AND SALAD BAR', u'LOUNGE',
       u'TEACHING SCHOOL', u'PACKAGED FOOD DISTRIBUTION', u'COFFEE  SHOP',
       u'COFFEE VENDING MACHINE', u'MAIN KITCHEN', u'VENDING COMMISSARY',
       u'SNACK SHOP', u'WATERMELON HOUSE', u"O'HARE KIOSK",
       u'GROCERY/TAQUERIA', u'GAS STATION/STORE GROCERY',
       u'MOBILE FOOD TRUCK', u'GROCERY AND BUTCHER', u'BAKERY/DELI',
       u'BAKERY/GROCERY', u'MOVIE THEATER', u'LOUNGE/BANQUET HALL',
       u'MEXICAN CANDY STORE', u'VFW HALL', u'GAS STATION /GROCERY',
       u'ASSISTED LIVING', u'CONVNIENCE STORE', u'PUSH CARTS',
       u'ANIMAL SHELTER CAFE PERMIT', u'TAVERN/STORE',
       u'MOBILE FROZEN DESSERT DISPENSER_NON  MOTORIZED.',
       u'PALETERIA /ICECREAM SHOP', u'GAS STATION/CONVENIENCE STORE',
       u'15 MONTS TO 5 YEARS OLD', u'MEAT MARKET', u'TAVERN/LIQUOR',
       u'HEALTH CENTER/NUTRITION CLASSES', u'REST/ROOFTOP',
       u'HERBAL STORE', u'DRUG STORE/GROCERY', u'THEATER/BAR',
       u'ICE CREAM', u'GENERAL STORE', u'WRIGLEY ROOFTOP',
       u'SERVICE GAS STATION', u'TRUCK', u'DRUG STORE', u'GYM STORE',
       u'DOLLAR STORE WITH GROCERY', u'MOBILE FROZEN DESSERT VENDOR',
       u'SUPPORTIVE LIVING FACILITY', u'DOLLAR TREE',
       u"1023 CHILDERN'S SERVICES FACILITY", u'HERBAL DRINKS',
       u'COLD/FROZEN FOOD STORAGE',
       u'RETAIL STORE OFFERS COOKING CLASSES', u'GELATO SHOP',
       u'GROCERY/GAS STATION', u'BLOCKBUSTER VIDEO', u'MASSAGE BAR',
       u'PREPACAKAGED FOODS', u'RESTAURANT/BAKERY', u'MOBILE FOOD',
       u'POOL', u'MEAT PACKING', u'DELI/GROCERY STORE',
       u'POULTRY SLAUGHTER', u'GROCERY/DRUG STORE', u'BREWPUB',
       u'RETAIL WINE/WINE BAR', u'RETAIL FOOD/GAS STATION',
       u'CLOTHING STORE', u'RESTAURANT/LIQUOR', u'INTERNET CAFE',
       u'CANDY', u'MOBILE FROZEN DESSERTS DISPENSER-NON-MOTORIZED',
       u'REST/GROCERY', u'WEIGHT LOSS PROGRAM', u'GROCERY/BAKERY',
       u'SOUP KITCHEN', u'TAVERN GRILL', u'GROCERY STORE/BAKERY',
       u'PRODUCE STAND', u'PHARMACY/GROCERY', u'DOLLAR & GROCERY STORE',
       u'ADULT FAMILY CARE CENTER', u'GOLF COURSE CONNCESSION STAND',
       u'MOBILE DESSERT VENDOR', u'CANDY SHOP', u'BANQUET/KITCHEN',
       u'FITNESS STUDIO', u'GROCERY STORE / GAS STATION', u'DISTRIBUTOR',
       u'ASSISSTED LIVING', u'CELL PHONE STORE', u'GAS STATION/STORE',
       u'CATERING AND WHOLESALE', u"CHILDERN'S SERVICES  FACILITY",
       u'SPA'], dtype=object)

In [18]:
df = pd.get_dummies(df, prefix="RiskLevel",columns=['RiskLevel'])
df = pd.get_dummies(df, prefix="City",columns=['City'])
df = pd.get_dummies(df, prefix="State",columns=['State'])
df = pd.get_dummies(df, prefix="Reason",columns=['Reason'])
df = pd.get_dummies(df, prefix="SectionViolations",columns=['SectionViolations'])

In [19]:
from sklearn import preprocessing 
  
# label_encoder object knows how to understand word labels. 
label_encoder = preprocessing.LabelEncoder() 
  
# Encode labels in column 'species'. 
df['Type']= label_encoder.fit_transform(df['Type']) 
df['Geo_Loc'] = label_encoder.fit_transform(df['Geo_Loc'])

In [20]:
df.to_excel(excel_writer = "/home/ryan/stark/machinehack/Food_QUalityA_ParticipantsData/Food_QUalityA_ParticipantsData/Data_TestCLEANEDandONEHOT.xlsx")

In [21]:
df = pd.read_excel("/home/ryan/stark/machinehack/Food_QUalityA_ParticipantsData/Food_QUalityA_ParticipantsData/Data_TestCLEANEDandONEHOT.xlsx")

In [22]:
df

,Type,Street,LocationID,Geo_Loc,RiskLevel_High,RiskLevel_Low,RiskLevel_Medium,RiskLevel_Uncertain,City_id-11235901,City_id-11275913,...,SectionViolations_53,SectionViolations_54,SectionViolations_55,SectionViolations_56,SectionViolations_57,SectionViolations_58,SectionViolations_59,SectionViolations_60,SectionViolations_61,SectionViolations_70
0,127,17352,81864,1341,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,256,15536,81871,5812,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,234,8849,81902,2658,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,256,11663,81869,11144,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,234,16286,81874,6425,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5,234,8571,81899,11810,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
6,256,10963,81877,8505,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7,234,8212,81879,2208,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
8,234,14236,81899,12079,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
9,234,15707,81847,11227,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
10,234,516,81858,2923,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
11,234,1542,81850,10020,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
12,234,1068,81887,12014,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
13,256,14247,81879,2179,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
14,234,3351,81862,12561,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
15,234,16044,81901,4923,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
16,234,5208,81859,902,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
17,127,9198,81873,10107,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
18,234,12264,81875,4342,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
19,234,3812,81853,9647,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
20,80,10902,81858,3569,1,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
21,234,16308,81865,5858,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
22,234,7736,81892,1357,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
23,234,13517,81889,10861,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
24,234,6181,81863,2893,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
25,234,3271,81861,9807,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
26,87,4125,81861,9653,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
27,256,8789,81879,2537,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
28,234,1173,81911,5892,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
29,17,16103,81952,951,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49118,234,9750,81892,1061,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
49119,253,9523,81858,2960,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
49120,87,3836,81861,9671,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
49121,127,7290,81886,1887,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
49122,127,1043,81887,13049,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
49123,234,11360,81896,12831,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
49124,234,742,81847,11282,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
49125,234,1173,81911,5892,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
49126,234,17349,81862,2194,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
49127,234,507,81902,2340,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
49128,262,11888,81870,4058,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
49129,234,2447,81905,5664,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
49130,80,15136,81858,3468,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
49131,127,12661,81889,10925,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
49132,256,7966,81857,11510,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
49133,234,2997,81867,12641,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
49134,234,72,81846,11435,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
49135,234,8359,81870,4333,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
49136,234,8853,81902,2676,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
49137,234,13990,81884,956,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
49138,234,9418,81873,12352,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
49139,234,1173,81911,5892,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
49140,234,5636,81859,1218,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
49141,234,3257,81853,9830,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
49142,234,12958,81877,7826,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
49143,234,15879,81901,4893,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
49144,234,7729,81863,3327,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
49145,234,5686,81894,6411,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
49146,234,7924,81892,1338,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
49147,234,4137,81861,9646,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0