In [1]:
import pandas as pd
import numpy as np

In [3]:
zf = pd.read_excel('/home/ryan/MachineHack/Food_QUalityA_ParticipantsData/Data_Train.xlsx')

In [4]:
test = pd.read_excel('/home/ryan/MachineHack/Food_QUalityA_ParticipantsData/Data_Test.xlsx')

In [5]:
# from sklearn import preprocessing 
  
# # label_encoder object knows how to understand word labels. 
# label_encoder = preprocessing.LabelEncoder() 
# test['Type']= label_encoder.fit_transform(test['Type']) 
# test['Geo_Loc'] = label_encoder.fit_transform(df['Geo_Loc'])

In [6]:
cols_to_drop = [
    'LicenseNo',
    'Date',
    'FacilityID',
    'FacilityName',
    'ID'
    ]

zf = zf.drop(cols_to_drop, axis=1)
test = test.drop(cols_to_drop, axis=1)

In [7]:
total = zf.isnull().sum().sort_values(ascending=False)
percent_1 = zf.isnull().sum()/zf.isnull().count()*100
percent_2 = (np.round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total, percent_2], axis=1, keys=['Total', '%']) #ptr
missing_data

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  after removing the cwd from sys.path.

                    Total     %
City                    0   0.0
Geo_Loc                 0   0.0
Inspection_Results      0   0.0
LocationID             35   0.0
Reason                  0   0.0
RiskLevel               0   0.0
SectionViolations   39068  26.5
State                   0   0.0
Street                  0   0.0
Type                 3485   2.4

In [8]:
total = test.isnull().sum().sort_values(ascending=False)
percent_1 = test.isnull().sum()/test.isnull().count()*100
percent_2 = (np.round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total, percent_2], axis=1, keys=['Total', '%']) #ptr
missing_data

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  after removing the cwd from sys.path.

                   Total     %
City                   0   0.0
Geo_Loc                0   0.0
LocationID            15   0.0
Reason                 0   0.0
RiskLevel              0   0.0
SectionViolations  12976  26.4
State                  0   0.0
Street                 0   0.0
Type                1215   2.5

In [9]:
testf=test.copy()

In [10]:
df = zf.copy()

In [11]:
from sklearn.impute import SimpleImputer
imp = SimpleImputer(strategy='most_frequent')
df = imp.fit_transform(df)
testf = imp.fit_transform(testf)

In [12]:
dataframe = pd.DataFrame.from_records(df)

In [13]:
dataframetest = pd.DataFrame.from_records(testf)

In [14]:
dataframetest.head()

,0,1,2,3,4,5,6,7,8
0,GROCERY STORE,17352,id-11235901,id_1890134,81864.0,CANVASS,19.0,Low,locid1145
1,SCHOOL,15536,id-11235901,id_1890134,81871.0,CANVASS,32.0,High,locid16450
2,RESTAURANT,8849,id-11235901,id_1890134,81902.0,CANVASS,32.0,High,locid12916
3,SCHOOL,11663,id-11235901,id_1890134,81869.0,CANVASS,32.0,High,locid7292
4,RESTAURANT,16286,id-11235901,id_1890134,81874.0,CANVASS RE-INSPECTION,32.0,High,locid2048

In [15]:
dataframetest.rename(columns = {0:'Type',1:'Street',2:'City',3:'State',4:'LocationID',5:'Reason',6:'SectionViolations',7:'RiskLevel',8:'Geo_Loc',9:'Inspection_Results'},inplace=True)
dataframe.rename(columns = {0:'Type',1:'Street',2:'City',3:'State',4:'LocationID',5:'Reason',6:'SectionViolations',7:'RiskLevel',8:'Geo_Loc',9:'Inspection_Results'},inplace=True)

In [16]:
dataframetest.head()

,Type,Street,City,State,LocationID,Reason,SectionViolations,RiskLevel,Geo_Loc
0,GROCERY STORE,17352,id-11235901,id_1890134,81864.0,CANVASS,19.0,Low,locid1145
1,SCHOOL,15536,id-11235901,id_1890134,81871.0,CANVASS,32.0,High,locid16450
2,RESTAURANT,8849,id-11235901,id_1890134,81902.0,CANVASS,32.0,High,locid12916
3,SCHOOL,11663,id-11235901,id_1890134,81869.0,CANVASS,32.0,High,locid7292
4,RESTAURANT,16286,id-11235901,id_1890134,81874.0,CANVASS RE-INSPECTION,32.0,High,locid2048

In [17]:
dataframe.head(3)

,Type,Street,City,State,LocationID,Reason,SectionViolations,RiskLevel,Geo_Loc,Inspection_Results
0,RESTAURANT,15522,id-11235901,id_1890134,81876.0,CANVASS,33.0,High,locid16406,4
1,GROCERY STORE,3057,id-11235901,id_1890134,81862.0,COMPLAINT,33.0,High,locid878,4
2,RESTAURANT,14988,id-11235901,id_1890134,81883.0,CANVASS,32.0,High,locid3368,6

In [19]:
dataframetest.to_excel(excel_writer = "/home/ryan/MachineHack/Food_QUalityA_ParticipantsData/Data_TestCLEANED.xlsx")
dataframe.to_excel(excel_writer = "/home/ryan/MachineHack/Food_QUalityA_ParticipantsData/Data_TrainCLEANED.xlsx")

In [29]:
df = pd.read_excel('/home/ryan/MachineHack/Food_QUalityA_ParticipantsData/Data_TrainCLEANED.xlsx' , index_col =0)

In [30]:
test = pd.read_excel("/home/ryan/MachineHack/Food_QUalityA_ParticipantsData/Data_TestCLEANED.xlsx" , index_col =0)

In [31]:
df.head(3)

,Type,Street,City,State,LocationID,Reason,SectionViolations,RiskLevel,Geo_Loc,Inspection_Results
0,RESTAURANT,15522,id-11235901,id_1890134,81876,CANVASS,33,High,locid16406,4
1,GROCERY STORE,3057,id-11235901,id_1890134,81862,COMPLAINT,33,High,locid878,4
2,RESTAURANT,14988,id-11235901,id_1890134,81883,CANVASS,32,High,locid3368,6

In [32]:
test['Type'].describe()

count          49148
unique           301
top       RESTAURANT
freq           34051
Name: Type, dtype: object

In [33]:
test.head(3)

,Type,Street,City,State,LocationID,Reason,SectionViolations,RiskLevel,Geo_Loc
0,GROCERY STORE,17352,id-11235901,id_1890134,81864,CANVASS,19,Low,locid1145
1,SCHOOL,15536,id-11235901,id_1890134,81871,CANVASS,32,High,locid16450
2,RESTAURANT,8849,id-11235901,id_1890134,81902,CANVASS,32,High,locid12916

In [34]:
df = pd.get_dummies(df, prefix="RiskLevel",columns=['RiskLevel'])
df = pd.get_dummies(df, prefix="City",columns=['City'])
df = pd.get_dummies(df, prefix="State",columns=['State'])
df = pd.get_dummies(df, prefix="Reason",columns=['Reason'])
#df = pd.get_dummies(df, prefix="SectionViolations",columns=['SectionViolations'])

In [35]:
test = pd.get_dummies(test, prefix="RiskLevel",columns=['RiskLevel'])
test = pd.get_dummies(test, prefix="City",columns=['City'])
test = pd.get_dummies(test, prefix="State",columns=['State'])
test = pd.get_dummies(test, prefix="Reason",columns=['Reason'])
#df = pd.get_dummies(df, prefix="SectionViolations",columns=['SectionViolations'])

In [36]:
test.head()

,Type,Street,LocationID,SectionViolations,Geo_Loc,RiskLevel_High,RiskLevel_Low,RiskLevel_Medium,RiskLevel_Uncertain,City_id-11235901,...,Reason_LICENSE RE-INSPECTION,Reason_LICENSE-TASK FORCE,Reason_OUT OF BUSINESS,Reason_RECENT INSPECTION,Reason_SHORT FORM COMPLAINT,Reason_SHORT FORM FIRE-COMPLAINT,Reason_SUSPECTED FOOD POISONING,Reason_SUSPECTED FOOD POISONING RE-INSPECTION,Reason_TAG REMOVAL,Reason_TASK FORCE LIQUOR 1475
0,GROCERY STORE,17352,81864,19,locid1145,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,SCHOOL,15536,81871,32,locid16450,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,RESTAURANT,8849,81902,32,locid12916,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,SCHOOL,11663,81869,32,locid7292,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,RESTAURANT,16286,81874,32,locid2048,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [37]:
df

,Type,Street,LocationID,SectionViolations,Geo_Loc,Inspection_Results,RiskLevel_High,RiskLevel_Low,RiskLevel_Medium,RiskLevel_Uncertain,...,Reason_LICENSE RE-INSPECTION,Reason_LICENSE-TASK FORCE,Reason_OUT OF BUSINESS,Reason_RECENT INSPECTION,Reason_SHORT FORM COMPLAINT,Reason_SHORT FORM FIRE-COMPLAINT,Reason_SUSPECTED FOOD POISONING,Reason_SUSPECTED FOOD POISONING RE-INSPECTION,Reason_TAG REMOVAL,Reason_TASK FORCE LIQUOR 1475
0,RESTAURANT,15522,81876,33,locid16406,4,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,GROCERY STORE,3057,81862,33,locid878,4,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,RESTAURANT,14988,81883,32,locid3368,6,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,RESTAURANT,3661,81859,31,locid11839,4,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,RESTAURANT,7876,81886,30,locid12264,4,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147438,GROCERY STORE,6229,81873,3,locid203,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
147439,RESTAURANT,3697,81848,32,locid7202,4,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
147440,RESTAURANT,13027,81877,32,locid3614,6,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
147441,RESTAURANT,17833,81888,3,locid757,5,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
147442,CHILDREN'S SERVICES FACILITY,7750,81904,32,locid16090,4,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [38]:
from sklearn import preprocessing 
  
# label_encoder object knows how to understand word labels. 
label_encoder = preprocessing.LabelEncoder() 
  
# Encode labels in column 'species'. 
df['Type']= label_encoder.fit_transform(df['Type']) 
df['Geo_Loc'] = label_encoder.fit_transform(df['Geo_Loc'])

test['Type']= label_encoder.fit_transform(test['Type']) 
test['Geo_Loc'] = label_encoder.fit_transform(test['Geo_Loc'])

In [39]:
df.head()

,Type,Street,LocationID,SectionViolations,Geo_Loc,Inspection_Results,RiskLevel_High,RiskLevel_Low,RiskLevel_Medium,RiskLevel_Uncertain,...,Reason_LICENSE RE-INSPECTION,Reason_LICENSE-TASK FORCE,Reason_OUT OF BUSINESS,Reason_RECENT INSPECTION,Reason_SHORT FORM COMPLAINT,Reason_SHORT FORM FIRE-COMPLAINT,Reason_SUSPECTED FOOD POISONING,Reason_SUSPECTED FOOD POISONING RE-INSPECTION,Reason_TAG REMOVAL,Reason_TASK FORCE LIQUOR 1475
0,326,15522,81876,33,6889,4,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,182,3057,81862,33,14998,4,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,326,14988,81883,32,9140,6,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,326,3661,81859,31,1991,4,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,326,7876,81886,30,2443,4,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
df.to_excel(excel_writer = "/home/ryan/MachineHack/Food_QUalityA_ParticipantsData/Data_TrainCLEANEDandONEHOT1.xlsx")
test.to_excel(excel_writer = "/home/ryan/MachineHack/Food_QUalityA_ParticipantsData/Data_TestCLEANEDandONEHOT1.xlsx")

In [17]:
df = pd.read_excel("/home/ryan/stark/machinehack/Food_QUalityA_ParticipantsData/Food_QUalityA_ParticipantsData/Data_TrainCLEANEDandONEHOT1.xlsx")
test = pd.read_excel("/home/ryan/stark/machinehack/Food_QUalityA_ParticipantsData/Food_QUalityA_ParticipantsData/Data_TestCLEANEDandONEHOT1.xlsx")

In [18]:
df.head()

,Type,Street,LocationID,SectionViolations,Geo_Loc,Inspection_Results,RiskLevel_High,RiskLevel_Low,RiskLevel_Medium,RiskLevel_Uncertain,...,Reason_LICENSE RE-INSPECTION,Reason_LICENSE-TASK FORCE,Reason_OUT OF BUSINESS,Reason_RECENT INSPECTION,Reason_SHORT FORM COMPLAINT,Reason_SHORT FORM FIRE-COMPLAINT,Reason_SUSPECTED FOOD POISONING,Reason_SUSPECTED FOOD POISONING RE-INSPECTION,Reason_TAG REMOVAL,Reason_TASK FORCE LIQUOR 1475
0,326,15522,81876,33,6889,4,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,182,3057,81862,33,14998,4,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,326,14988,81883,32,9140,6,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,326,3661,81859,31,1991,4,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,326,7876,81886,30,2443,4,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [41]:
test.head()

,Type,Street,LocationID,SectionViolations,Geo_Loc,RiskLevel_High,RiskLevel_Low,RiskLevel_Medium,RiskLevel_Uncertain,City_id-11235901,...,Reason_LICENSE RE-INSPECTION,Reason_LICENSE-TASK FORCE,Reason_OUT OF BUSINESS,Reason_RECENT INSPECTION,Reason_SHORT FORM COMPLAINT,Reason_SHORT FORM FIRE-COMPLAINT,Reason_SUSPECTED FOOD POISONING,Reason_SUSPECTED FOOD POISONING RE-INSPECTION,Reason_TAG REMOVAL,Reason_TASK FORCE LIQUOR 1475
0,127,17352,81864,19,1341,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,256,15536,81871,32,5812,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,234,8849,81902,32,2658,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,256,11663,81869,32,11144,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,234,16286,81874,32,6425,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0