In [1]:
import pandas as pd
import numpy as np
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC, LinearSVC
import xgboost as xgb
from sklearn.naive_bayes import GaussianNB
from xgboost import XGBClassifier
from mlxtend.classifier import StackingClassifier
from sklearn.metrics import accuracy_score
from sklearn.ensemble import BaggingClassifier
import matplotlib as plt
from random import randint

from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder



print("Setup Complete")

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

Setup Complete

In [2]:
# Read the file into a variable fifa_data
filepath = "/home/ryan/stark/MachineHack/Food_QUalityA_ParticipantsData/Data_Train.xlsx"
data = pd.read_excel(filepath)

In [3]:
testdata = pd.read_excel('/home/ryan/stark/MachineHack/Food_QUalityA_ParticipantsData/Data_Test.xlsx')
data.head(3)

,ID,Date,LicenseNo,FacilityID,FacilityName,Type,Street,City,State,LocationID,Reason,SectionViolations,RiskLevel,Geo_Loc,Inspection_Results
0,31103489027986,26-04-2010,4744,8123,7715,RESTAURANT,15522,id-11235901,id_1890134,81876.0,CANVASS,33.0,High,locid16406,4
1,10088999935915,21-06-2009,2973,12268,11664,GROCERY STORE,3057,id-11235901,id_1890134,81862.0,COMPLAINT,33.0,High,locid878,4
2,40148966010272,01-05-2013,18223,1112,969,RESTAURANT,14988,id-11235901,id_1890134,81883.0,CANVASS,NaN,High,locid3368,6

In [4]:
testdata.head()

,ID,Date,LicenseNo,FacilityID,FacilityName,Type,Street,City,State,LocationID,Reason,SectionViolations,RiskLevel,Geo_Loc
0,47571900570810,19-03-2014,34218,2354,2185,GROCERY STORE,17352,id-11235901,id_1890134,81864.0,CANVASS,19.0,Low,locid1145
1,19685766253655,22-11-2010,24597,13183,12516,SCHOOL,15536,id-11235901,id_1890134,81871.0,CANVASS,32.0,High,locid16450
2,37885701847801,09-06-2014,1779,26434,25220,RESTAURANT,8849,id-11235901,id_1890134,81902.0,CANVASS,NaN,High,locid12916
3,39946284936679,07-04-2010,8541,16246,16384,SCHOOL,11663,id-11235901,id_1890134,81869.0,CANVASS,NaN,High,locid7292
4,46793577796409,25-07-2010,35194,20114,19225,RESTAURANT,16286,id-11235901,id_1890134,81874.0,CANVASS RE-INSPECTION,32.0,High,locid2048

In [5]:
class LabelEncoderExt(object):
    def __init__(self):
        """
        It differs from LabelEncoder by handling new classes and providing a value for it [Unknown]
        Unknown will be added in fit and transform will take care of new item. It gives unknown class id
        """
        self.label_encoder = LabelEncoder()
        # self.classes_ = self.label_encoder.classes_

    def fit(self, data_list):
        """
        This will fit the encoder for all the unique values and introduce unknown value
        :param data_list: A list of string
        :return: self
        """
        self.label_encoder = self.label_encoder.fit(list(data_list) + ['Unknown'])
        self.classes_ = self.label_encoder.classes_

        return self

    def transform(self, data_list):
        """
        This will transform the data_list to id list where the new values get assigned to Unknown class
        :param data_list:
        :return:
        """
        new_data_list = list(data_list)
        for unique_item in np.unique(data_list):
            if unique_item not in self.label_encoder.classes_:
                new_data_list = ['Unknown' if x==unique_item else x for x in new_data_list]

        return self.label_encoder.transform(new_data_list)

In [6]:
def dropcol(data):
    cols_to_drop = ['Date','ID']
    data = data.drop(cols_to_drop,axis =1)
    return data

def catVar1(data):
    categorical_colsT1 = [cname for cname in data.columns if
                    data[cname].nunique() <=10 and 
                    data[cname].dtype == "object"]
    return categorical_colsT1

def catVar2(data):
    categorical_colsT2 = [cname for cname in data.columns if
                    data[cname].nunique() >10 and 
                    data[cname].dtype == "object"]
    return categorical_colsT2

def NumVar(data) :
    numerical_cols = [cname for cname in data.columns if 
    data[cname].dtype in ['int64', 'float64']]
    return numerical_cols

def imputer(train,test):
    
    from sklearn.impute import SimpleImputer
    
    numerical_cols = NumVar(train)
    my_imputer = SimpleImputer(strategy='most_frequent')
    imputed_train = pd.DataFrame(my_imputer.fit_transform(train))
    imputed_test = pd.DataFrame(my_imputer.transform(test))

    # Imputation removed column names; put them back
    imputed_train.columns = train.columns
    imputed_test.columns = test.columns
    
    #restoring datatypes 
    imputed_train[numerical_cols] = imputed_train[numerical_cols].apply(pd.to_numeric, errors='coerce')
    imputed_test[numerical_cols] = imputed_test[numerical_cols].apply(pd.to_numeric, errors='coerce')
    
    return imputed_train,imputed_test 

def lblencdr(train,test):
    from sklearn.preprocessing import LabelEncoder

    label_enc = LabelEncoderExt()
    cols = catVar2(train)
    print(cols)
    for col in cols:
        label_enc.fit(train[col])
        train[col] = label_enc.transform(train[col])
        test[col] = label_enc.transform(test[col])
    
    return train,test

def ohebygetdummis(train,test):
    pass

def onhotencoder(train,test):
    
    from sklearn.preprocessing import OneHotEncoder
    object_cols = catVar1(train) #catVar1 gives desired categorical column and not all object columns
    print(object_cols)
    
    OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
    OH_cols_train = pd.DataFrame(OH_encoder.fit_transform(train[object_cols]))
    OH_cols_test = pd.DataFrame(OH_encoder.transform(test[object_cols]))

    # One-hot encoding removed index; put it back
    OH_cols_train.index = train.index
    OH_cols_test.index = test.index

    # Remove desired categorical columns (will replace with one-hot encoding)
    num_train = train.drop(object_cols, axis=1)
    num_test = test.drop(object_cols, axis=1)

    # Add one-hot encoded columns to numerical/remaining features
    OH_train = pd.concat([num_train, OH_cols_train], axis=1)
    OH_test = pd.concat([num_test, OH_cols_test], axis=1)
    
    return OH_train,OH_test

def missingcheck(data):
    total = data.isnull().sum().sort_values(ascending=False)
    percent_1 = data.isnull().sum()/data.isnull().count()*100
    percent_2 = (np.round(percent_1, 1)).sort_values(ascending=False)
    missing_data = pd.concat([total, percent_2], axis=1, keys=['Total', '%']) #ptr
    return missing_data

def split(train):
    t = data.drop('Inspection_Results',axis =1)
    y = data.Inspection_Results
    return t,y



def special(train,test):
    train['Geo_Loc'] = train['Geo_Loc'].str.replace(r'\D', '')
    train['Geo_Loc'] = pd.to_numeric(train['Geo_Loc'], errors='coerce') 
    
    test['Geo_Loc'] = test['Geo_Loc'].str.replace(r'\D', '')
    test['Geo_Loc'] = pd.to_numeric(test['Geo_Loc'], errors='coerce') 
    return train, test

In [7]:
def syntheticvariable(train , y ):
    from imblearn.over_sampling import SMOTENC
    from collections import Counter
    categorical_features = [cname.index for cname in train.columns if train[cname].dtype == "object"]
    out = np.argwhere(train.columns.isin(categorical_features)).ravel().tolist()
    
    smote_nc = SMOTENC([3, 5, 6, 8, 10], random_state=0)  #instead of passing out i need to hardcode it.

    X_resampled, y_resampled = smote_nc.fit_resample(train,y)
    
    print(sorted(Counter(y_resampled).items()))
    
    return X_resampled,y_resampled

In [8]:
train_df = dropcol(data.drop('Inspection_Results', axis =1))
test_df = dropcol(testdata)

In [9]:
train_df.head(2)

,LicenseNo,FacilityID,FacilityName,Type,Street,City,State,LocationID,Reason,SectionViolations,RiskLevel,Geo_Loc
0,4744,8123,7715,RESTAURANT,15522,id-11235901,id_1890134,81876.0,CANVASS,33.0,High,locid16406
1,2973,12268,11664,GROCERY STORE,3057,id-11235901,id_1890134,81862.0,COMPLAINT,33.0,High,locid878

In [10]:
test_df.head(2)

,LicenseNo,FacilityID,FacilityName,Type,Street,City,State,LocationID,Reason,SectionViolations,RiskLevel,Geo_Loc
0,34218,2354,2185,GROCERY STORE,17352,id-11235901,id_1890134,81864.0,CANVASS,19.0,Low,locid1145
1,24597,13183,12516,SCHOOL,15536,id-11235901,id_1890134,81871.0,CANVASS,32.0,High,locid16450

In [11]:
train_df,test_df = special(train_df,test_df)

In [12]:
train , test = imputer(train_df,test_df)

In [13]:
missingcheck(train)
#missingcheck(test)

                   Total    %
Geo_Loc                0  0.0
RiskLevel              0  0.0
SectionViolations      0  0.0
Reason                 0  0.0
LocationID             0  0.0
State                  0  0.0
City                   0  0.0
Street                 0  0.0
Type                   0  0.0
FacilityName           0  0.0
FacilityID             0  0.0
LicenseNo              0  0.0

In [14]:
train.head(2)

,LicenseNo,FacilityID,FacilityName,Type,Street,City,State,LocationID,Reason,SectionViolations,RiskLevel,Geo_Loc
0,4744,8123,7715,RESTAURANT,15522,id-11235901,id_1890134,81876.0,CANVASS,33.0,High,16406
1,2973,12268,11664,GROCERY STORE,3057,id-11235901,id_1890134,81862.0,COMPLAINT,33.0,High,878

In [15]:
test.head(2)

,LicenseNo,FacilityID,FacilityName,Type,Street,City,State,LocationID,Reason,SectionViolations,RiskLevel,Geo_Loc
0,34218,2354,2185,GROCERY STORE,17352,id-11235901,id_1890134,81864.0,CANVASS,19.0,Low,1145
1,24597,13183,12516,SCHOOL,15536,id-11235901,id_1890134,81871.0,CANVASS,32.0,High,16450

In [16]:
trainsyn ,y =syntheticvariable(train,data.Inspection_Results)

Using TensorFlow backend.

[(0, 79453), (1, 79453), (2, 79453), (3, 79453), (4, 79453), (5, 79453), (6, 79453)]

In [17]:
trainsynlbl,testlbl = lblencdr(trainsyn,test)

['Type', 'Reason']

In [18]:
testlbl.head()

,LicenseNo,FacilityID,FacilityName,Type,Street,City,State,LocationID,Reason,SectionViolations,RiskLevel,Geo_Loc
0,34218,2354,2185,182,17352,id-11235901,id_1890134,81864.0,0,19.0,Low,1145
1,24597,13183,12516,351,15536,id-11235901,id_1890134,81871.0,0,32.0,High,16450
2,1779,26434,25220,326,8849,id-11235901,id_1890134,81902.0,0,32.0,High,12916
3,8541,16246,16384,351,11663,id-11235901,id_1890134,81869.0,0,32.0,High,7292
4,35194,20114,19225,326,16286,id-11235901,id_1890134,81874.0,1,32.0,High,2048

In [19]:
trainsynlblohe , testlblohe = onhotencoder(trainsynlbl,testlbl)

['City', 'State', 'RiskLevel']

In [20]:
trainsynlblohe.head()
testlblohe.head()

,LicenseNo,FacilityID,FacilityName,Type,Street,LocationID,Reason,SectionViolations,Geo_Loc,0,1,2,3,4,5,6,7
0,34218,2354,2185,182,17352,81864.0,0,19.0,1145,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,24597,13183,12516,351,15536,81871.0,0,32.0,16450,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
2,1779,26434,25220,326,8849,81902.0,0,32.0,12916,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
3,8541,16246,16384,351,11663,81869.0,0,32.0,7292,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
4,35194,20114,19225,326,16286,81874.0,1,32.0,2048,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0

In [21]:
def training(train,y, test):
    pass

In [22]:
from sklearn.tree import DecisionTreeClassifier

from sklearn.ensemble import BaggingClassifier

clf1 = DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=11, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=8, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

clf2 = BaggingClassifier(base_estimator=clf1, n_estimators=100, max_samples=1.0, max_features=1.0, 
                         bootstrap=True,
                         bootstrap_features=False, oob_score=True, warm_start=False,
                         n_jobs=-1, random_state=None, verbose=0)

clf3=XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.8, gamma=0.5,
              learning_rate=0.1, max_delta_step=0, max_depth=5,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='multi:softprob', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=0.6, verbosity=1)

In [210]:
clf1.fit(trainsynlblohe,y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=11, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=8, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [212]:
p1 = clf1.predict(testlblohe)

In [214]:
pred1 = pd.DataFrame(p1.tolist(),columns=['Ins'])

In [215]:
g1= pd.get_dummies(pred1, prefix="",columns=['Ins'])

In [218]:
g1.to_excel(excel_writer = "/home/ryan/stark/MachineHack/Food_QUalityA_ParticipantsData/subg1.xlsx")

In [23]:
clf2.fit(trainsynlblohe,y)
p2 = clf2.predict(testlblohe)
pred2 = pd.DataFrame(p2.tolist(),columns=['Ins'])
g2= pd.get_dummies(pred2, prefix="",columns=['Ins'])
g2.to_excel(excel_writer = "/home/ryan/stark/MachineHack/Food_QUalityA_ParticipantsData/subg2.xlsx")

In [24]:
clf3.fit(trainsynlblohe,y)
p3 = clf3.predict(testlblohe)
pred3 = pd.DataFrame(p3.tolist(),columns=['Ins'])
g3= pd.get_dummies(pred3, prefix="",columns=['Ins'])
g3.to_excel(excel_writer = "/home/ryan/stark/MachineHack/Food_QUalityA_ParticipantsData/subg3.xlsx")